.App {
  text-align: center;
}
/* Avoid horizontal scroll */
.imgPortfolio,
.heroimg {
  max-width: 100%;
}

.App-header {
  background-color: #3d405b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Start Background colors pages */
.about .App-header {
  background-color: #e07a5f;
}

.projects .App-header {
  background-color: #d1af79;
}

.contact .App-header {
  background-color: #81b29a;
}
/* End Background colors pages */

.App-header h1 {
  color: #61dafb;
}

.App-header p {
  padding: 0 10% 0 10%;
}

.mainNavArea a {
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
}
.mainNavArea ul {
  list-style-type: none; /* Remove bullets */
}

.nav {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}
/* Mobile first design */
@media (min-width: 600px) {
  .heroimg {
    padding-top: 4rem;
  }

  .imgPortfolio {
    width: 500px;
  }

  .active {
    color: #61dafb;
  }
}
