.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3d405b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about .App-header {
  background-color: #e07a5f;
}

.projects .App-header {
  background-color: #f2cc8f;
}

.contact .App-header {
  background-color: #81b29a;
}

.App-header h1 {
  color: #61dafb;
}
.App-header p {
  padding: 0 5% 0 5%;
}

.App-link {
  color: #61dafb;
}
.mainNavArea a {
  color: #61dafb;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
}
.mainNavArea ul {
  list-style-type: none; /* Remove bullets */
}

.nav {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
